@font-face {
	font-family: 'Consolas';
	src: url('../fonts/Consolas.ttf') format('truetype');
}
@font-face {
	font-family: 'Verdana';
	src: url('../fonts/Verdana.ttf') format('truetype');
}
@font-face {
	font-family: 'VerdanaBold';
	src: url('../fonts/VerdanaBold.ttf') format('truetype');
}
body{
	margin: 0px;
	border-radius: 5px;
}
.HtmlContainer{
	width: calc(100%);
	height: calc(100%);
	-webkit-app-region: drag;
}
.ToolList{
	float: left;
	width: 60px;
	height: 100%;
	display: inline-grid;
	place-items: center;
	margin: 0px 5px;
}
.ToolListItem{
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
	display: grid;
	place-items: center;
	font-size: 30px;
	transition: width 0.3s, height 0.3s, font-size 0.3s; 
}
.ToolListItem:hover{
	width: 50px;
	height: 50px;
	font-size: 40px;
}
.ToolListItemWrapper{
	-webkit-app-region: no-drag;
	display: grid;
	place-items: center;
}
.PageViewer{
	display: inline-block;
	width: 150px;
	height: 100%;
}
.ContentWrapper{
	flex: 1;
	display: inline-block;
	width: calc(100% - 100px - 15px);
	height: 100%;
}
.splitDiv{
	-webkit-app-region: no-drag;
	cursor: e-resize;
	width: 15px;
	height: calc(100% - 6px);
	margin: 3px 0px;
	display: inline-grid;
	place-items: center;
	font-size: 14px;
	transition: background 0.3s;
}
.Interface{
	float: right;
	display: flex;
	flex-direction: row;
	width: calc(100% - 70px);
	height: 100%;
}
.WindowOption{
	float: right;
	font-size: 18px;
}
.WindowMinimize, .WindowMaximize, .WindowClose, .WindowRestore{
	-webkit-app-region: no-drag;
	display: inline-block;
	padding-top: 5px;
	width: 36px;
	height: 24px;
	text-align: center;
	transition: background 0.3s, font-color 0.3s;
}